<footer class="footer" id="footer">

  <div class="footer__header">
    <div class="footer__header-wrap container">

      <div class="footer__header-logotype">
        <p class="footer__header-logotype-first">Правозащитник</p>
        <p class="footer__header-logotype-second">Юридическая компания</p>
      </div>

      <div class="footer__header-text-wrap">
        <p class="footer__header-text">Предварительные выводы неутешительны: синтетическое тестирование, а также свежий
          взгляд на привычные вещи — безусловно открывает новые горизонты для экономической целесообразности принимаемых
          решений.</p>
      </div>

    </div>
  </div>

  <div class="footer__line-wrap">
    <div class="container">
      <div class="footer__line"></div>
    </div>
  </div>

  <div class="footer__main">
    <div class="container">
      <div class="footer__main-wrap">

        <div class="footer__contact contact">

          <div class="contact__item">
            <div class="contact__img contact__img_map"></div>
            <div class="contact__wrap">
              <p class="contact__title">Наш адрес</p>
              <p class="contact__text">г. Одинцово, пр. Будапештсткая, 40</p>
            </div>
          </div>

          <div class="contact__item">
            <div class="contact__img contact__img_phone"></div>
            <div class="contact__wrap">
              <p class="contact__title">Запись на консультанцию</p>
              <p class="contact__text">+7 (922) 022-94-82</p>
            </div>
          </div>

          <div class="contact__item">
            <div class="contact__img contact__img_mail"></div>
            <div class="contact__wrap">
              <p class="contact__title">Корреспонденция</p>
              <p class="contact__text">janis62@yahoo.com</p>
            </div>
          </div>

        </div>

        <nav class="footer__main-menu">
          <ul>
            <li><a href="#services">Услуги</a></li>
            <li><a href="#about">О компании</a></li>
            <li><a href="#">Сертификаты</a></li>
            <li><a href="#say-about-us">Отзывы</a></li>
            <li><a href="#blog">Полезные материалы</a></li>
            <li><a href="#">Благотворительность</a></li>
          </ul>
        </nav>

        <div class="footer__main-cta cta">

          <div class="cta__top">
            <img class="cta__img" src="../images/footer__img.webp" alt="Фотография специалиста">
            <p class="cta__name">Миронов Александр</p>
            <p class="cta__position">Ведущий юрист</p>
          </div>

          <p class="cta__text">
            Есть над чем задуматься: тщательные исследования конкурентов разоблачены. Идейные соображения высшего
            порядка, а также перспективное планирование играет
          </p>

          <button class="button">Задать вопрос юристу</button>

        </div>

      </div>
    </div>
  </div>

  <div class="footer__footer">
    <div class="container footer__footer-container">
      <p class="footer__footer-text">Все права защищены, 2023</p>
      <p class="footer__footer-text">Политика обработки персональных данных</p>
    </div>
  </div>

</footer>

<script src="js/jquery-3.7.0.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/main.min.js"></script>

</body>

</html>