<main class="main">

    <div class="services">
        <div class="container">

            <div class="services__header">
                <div class="title">
                    <h2>Наши услуги</h2>
                </div>
                <p>Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает
                    сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное
                    заполнение шаблона</p>
            </div>

            <div class="services__content">

                <div class="services__content-card">
                    <div class="services__content-card-mask">
                        <div class=""></div>
                        <div class=""></div>
                        <div class=""></div>
                        <div class=""></div>
                    </div>
                    <svg>
                        <use xlink:href="images/sprite.svg#check"></use>
                    </svg>
                    <h3>Банкротство физических лиц</h3>
                    <p>Процедуру банкротства физических лиц в России регулирует закон «О несостоятельности
                        (банкротстве)».
                    </p>
                </div>

                <div class="services__content-card">
                    <div class="services__content-card-mask">
                        <div class=""></div>
                        <div class=""></div>
                        <div class=""></div>
                        <div class=""></div>
                    </div>
                    <svg>
                        <use xlink:href="images/sprite.svg#check"></use>
                    </svg>
                    <h3>Сопровождение сделок</h3>
                    <p>Инициирование, оформление, осуществление сделки и достижение результата — это именно то, чем мы
                        занимаемся каждый день.</p>
                </div>

                <div class="services__content-card">
                    <div class="services__content-card-mask">
                        <div class=""></div>
                        <div class=""></div>
                        <div class=""></div>
                        <div class=""></div>
                    </div>
                    <svg>
                        <use xlink:href="images/sprite.svg#check"></use>
                    </svg>
                    <h3>Корпоративные споры</h3>
                    <p>Корпоративные споры – споры, связанные с созданием юрлица, управлением или участием в нем</p>
                </div>

                <div class="services__content-card">
                    <div class="services__content-card-mask">
                        <div class=""></div>
                        <div class=""></div>
                        <div class=""></div>
                        <div class=""></div>
                    </div>
                    <svg>
                        <use xlink:href="images/sprite.svg#check"></use>
                    </svg>
                    <h3>Недвижимость и строительство</h3>
                    <p>Консультируем по различным вопросам в области недвижимости, включая градостроительное
                        регулирование,
                        земельные отношения</p>
                </div>

                <div class="services__content-card">
                    <div class="services__content-card-mask">
                        <div class=""></div>
                        <div class=""></div>
                        <div class=""></div>
                        <div class=""></div>
                    </div>
                    <svg>
                        <use xlink:href="images/sprite.svg#check"></use>
                    </svg>
                    <h3>Возврат страховых премий</h3>
                    <p>Для возврата страховой премии нужно подготовить следующий пакет документов: паспорт страхователя;
                        оригинал страхового полиса</p>
                </div>

                <div class="services__content-card">
                    <div class="services__content-card-mask">
                        <div class=""></div>
                        <div class=""></div>
                        <div class=""></div>
                        <div class=""></div>
                    </div>
                    <svg>
                        <use xlink:href="images/sprite.svg#check"></use>
                    </svg>
                    <h3>Налоговое право и споры</h3>
                    <p>Сопровождение налоговых проверок на любой стадии, анализ и подготовка документов, защита при
                        налоговых спорах.</p>
                </div>
            </div>

            <button class="button services__button">Все услуги</button>

        </div>
    </div>

    <div class="about">
        <div class="container">
            <div class="wrap">

                <div class="about__content">

                    <div class="about__header">
                        <div class="title">
                            <h2>Юридическая компания <span>правозащитник</span></h2>
                        </div>
                    </div>

                    <div class="about__main">
                        <p>
                            Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.
                            Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение.
                            <br><br>
                            Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые
                            модификации, например, юмористические вставки или слова, которые даже отдалённо не
                            напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите
                            какой-нибудь шутки, скрытой в середине абзаца.
                            <br><br>
                            За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии появились по
                            ошибке, некоторые - намеренно (например, юмористические варианты).
                        </p>
                    </div>

                    <div class="about__footer">
                        <button class="button">История компании</button>
                        <button class="button button-gray">Сертификаты</button>
                    </div>

                </div>

                <div class="about__image">
                    <img src="images/about.webp" alt="">
                </div>

            </div>
        </div>
    </div>

</main>

<p style="padding: 200px 0px; background-color: antiquewhite;">.</p>