<main class="main">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum, necessitatibus doloremque ducimus quidem
        impedit, optio est eius similique id amet vitae dicta veritatis perspiciatis exercitationem eos quos obcaecati
        corrupti excepturi!</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum, necessitatibus doloremque ducimus quidem
        impedit, optio est eius similique id amet vitae dicta veritatis perspiciatis exercitationem eos quos obcaecati
        corrupti excepturi!</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum, necessitatibus doloremque ducimus quidem
        impedit, optio est eius similique id amet vitae dicta veritatis perspiciatis exercitationem eos quos obcaecati
        corrupti excepturi!</p>
</main>